<div class="jw-header jw-header-fixed">
  <div class="jw-header-container">
    <div class="jw-header-nav">
      <jw-button-menu></jw-button-menu>
    </div>
    <div class="jw-header-main">
      <a ng-href="{{ vm.config.bannerImageURL ? vm.config.bannerImageURL : vm.rootURL }}">
        <img class="jw-header-logo"  ng-src="{{ ::vm.config.bannerImage }}" alt="logo"/>
      </a>
    </div>
    <div class="jw-header-nav">
      <jw-search ng-if="vm.config.searchPlaylist"></jw-search>
    </div>
  </div>
</div>